
<h2 *ngIf="lat==123">Please choose place</h2>
<h2 *ngIf="lat!=123">weather in {{ weather.name }} {{ weather.sys.country }}</h2>

<div *ngIf="lat!=123">
    <span class="temp"><img src="assets/{{ weather.weather[0].icon }}.png" alt="01d.png">
        {{ weather.main.temp | number: '1.0-0' }}&#176;C
    </span>
    <p>{{ weather.weather[0].description }}</p>
</div>

<table *ngIf="lat!=123">
    <tbody>
        <tr>
            <td>Humidity</td><td>{{ weather.main.humidity }}%</td>
        </tr>

        <tr>
            <td>Pressure</td><td>{{ weather.main.pressure }} hpa</td>
        </tr>

        <tr>
            <td>Sunrise</td><td>{{ weather.sys.sunrise * 1000 | date: 'H:mm' }}</td>
        </tr>

        <tr>
            <td>Sunset</td><td>{{ weather.sys.sunset * 1000 | date: 'H:mm' }}</td>
        </tr>
    </tbody>
</table>