<div class="wrapper">
  <div class="sidebar">
    <div id="menu"><img  width="250" height="138" src="assets/logo.png" alt="logo">
    <h2>MY PLACES</h2>
    <ul>
      <li id="places"><i class="fa fa-home" aria-hidden="true"></i><a (click)="myCurrentLocation()">My current place</a></li>
      <li *ngFor="let item of placeList">
      <a (click)="getCoordinates(item.lat, item.long)">{{item.address}}</a>
        <i id="close" class="fa fa-window-close" aria-hidden="true" (click)="removePlace(item.address)"></i>
    </ul>
  </div>
</div>
