@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import "~font-awesome/css/font-awesome.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif
}
body {
  background-color: #F3F5F9
}
.wrapper {
  display: flex;
  position: relative
}
.wrapper .sidebar {
  width: 250px;
  height: 100%;
  background: #F3F5F9;
  padding: 0px 0px;
  position: fixed
}
.wrapper .sidebar h2 {
  color: #6151B1;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px
}
.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #BDB8D7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05)
}
#places {
  color: #6151B1;
  display: block;
  color: white;
  font-size:large;
  background-color: #6151B1;
  cursor: pointer;
}
.wrapper .sidebar ul li  {
  color: #6151B1;
  display: block;
}
.wrapper .sidebar ul li a .fa {
  width: 25px;
  
}
.wrapper .sidebar ul li:hover {
  background-color: #7d777717;
  cursor: pointer;
}
.wrapper .sidebar ul li:hover a {
  color: rgb(39, 38, 38)
}
#close {
  display: inline;
  float: right;
  cursor: pointer;
}
.fa-home {
  padding-right: 10px;
}