<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="">OpenWeatherMap </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
        </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link"  routerLink="" >Add a new place</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/current">Current weather</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/weather/five-days">5 days forecast</a>
            </li>
        </ul>
    </div>
</nav>





