<div class="primary col-sm-6" *ngIf="primaryDisplay">
   <h3 *ngIf="lat==123">Please choose place</h3>
    <h3 *ngIf="lat!=123">5 day forecast  for {{city.name}} </h3>

    <ul *ngFor="let forecast of weatherData; let i = index">
        <li class="main" (click)="toggle(weatherData[i], i)">
            {{ forecast.dt_txt | date: 'EEE, MMM dd' }}
            <img src="assets/{{ forecast.weather[0].icon }}.png" alt="01d.png" class="icon">
            <span>
                {{ forecast.main.temp_min | number:'1.0-0' }}&#176;C \
                {{ forecast.main.temp_max | number:'1.0-0' }}&#176;C 
            </span>

            <span>{{ forecast.weather[0].main }}</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </li>
    </ul>
</div>

<div *ngIf="secondaryDisplay">
    <h3 *ngIf="lat==123">Please choose place</h3>
    <h3 *ngIf="lat!=123">5 day forecast in {{city.name}} </h3>

    <ul class="sub">
        <li *ngFor="let forecast of weatherData; let i = index" [ngClass]="{'selected': selectedIndex == i}">
            <span (click)="showDetails(weatherData[i], i)">{{ forecast.dt_txt | date: 'EEE' }}</span>
        </li>
        <i class="fa fa-caret-down" aria-hidden="true" (click)="toggle()"></i>
    </ul>

    <div>
        {{ forecastDetails.main.temp | number:'1.0-0' }}&#176;C
    </div>
</div>