<app-navbar></app-navbar>
<div class="row">
    <div class="col-3">
        <app-placebar></app-placebar>
    </div>

    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
    </div>