<div class="container">

    <h1>Search for a new place </h1>

    <div class="form-group">
        <label><b>Enter address:   </b> </label>
        <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
            placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"
            #search>
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    </agm-map>

    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
    <h5>Address: {{address}}</h5>

    <a class="w3-btn w3-black w3-round w3-margin w3-padding" (click)="addNewPlace(latitude,longitude,address)">Add to my places</a>




</div>